html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
header {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  justify-content: center;
  align-items: center;
}
main {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabla {
  display: grid;
  background-color: black;
  /* height: 100%;
  width: 100%; */
  /* grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr); */
}
.tabla button {
  width: 30px;
  height: 30px;
  /* background-image: url('assets/mine-50.png');
  background-size: cover; */
}
